/* -- Variables / Definition -- */
/* -- Functions -- */
.bg-rosewood {
  background-color: #AA0952;
}

.bg-matisse {
  background-color: #345995;
}

.bg-rust {
  background-color: #7B4A00;
}

.bg-ash {
  background-color: #F8F8F8;
}

.bg-coal {
  background-color: #fcfcfc;
}

.bg-honey {
  background-color: #FBB040;
}

.bg-ocean {
  background-color: #115D8E;
}

.bg-plum {
  background: #AD2D95;
}

.bg-teal {
  background-color: #0B928E;
}

.bg-iris {
  background-color: #602DB2;
}

.masthead {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 64px;
  padding-bottom: 0 !important;
  overflow: hidden;
}

.masthead .heading-group {
  position: relative;
  padding-right: 16px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  z-index: 2;
}

.masthead .heading-group h1 {
  margin-bottom: 8px;
}

.masthead .preview-wrapper {
  position: relative;
  padding-left: 16px;
  height: 320px;
  width: 460px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 1;
}

.masthead .preview-wrapper [class*="preview-"] {
  position: absolute;
  border: 8px solid #ffffff;
  -webkit-box-shadow: 0 0 15px rgba(104, 104, 104, 0.2);
          box-shadow: 0 0 15px rgba(104, 104, 104, 0.2);
}

.masthead .preview-wrapper [class*="preview-"] img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top center;
     object-position: top center;
}

.masthead .preview-wrapper .preview-1 {
  top: 0;
  right: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
}

.masthead .preview-wrapper .preview-2 {
  left: -180px;
  bottom: 0;
  width: 240px;
  height: 260px;
  z-index: 1;
}

@media (max-width: 1200px) {
  .masthead {
    padding: 56px;
  }
  .masthead .preview-wrapper {
    width: 400px;
  }
  .masthead .preview-wrapper .preview-2 {
    left: -130px;
  }
}

@media (max-width: 992px) {
  .masthead {
    padding: 48px;
  }
  .masthead .preview-wrapper {
    width: 380px;
  }
  .masthead .preview-wrapper .preview-2 {
    display: none;
  }
}

@media (max-width: 768px) {
  .masthead {
    height: 300px;
    padding: 40px;
  }
  .masthead .heading-group {
    padding-right: 0;
  }
  .masthead .preview-wrapper {
    display: none;
  }
}

@media (max-width: 576px) {
  .masthead {
    padding: 32px;
  }
}

.color-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.color-boxes .color-box {
  height: 144px;
  width: 144px;
  border-radius: 12px;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #FFFFFF;
}

.color-boxes .color-box .hex {
  opacity: .5;
}

.color-boxes .color-box.light {
  color: #353535;
}

.color-boxes .color-box:not(:last-child) {
  margin-right: 16px;
}

.heading-groups > *:not(:last-child) {
  margin-bottom: 16px;
}
/*# sourceMappingURL=ui-library.css.map */