#covid-overlay {
    position: relative;
    height: auto;
    width: 100%;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    z-index: 1;

    .navigation {
        position: relative;
        padding-top: $size-4;
        padding-bottom: $size-3;
        flex-grow: 0;
        flex-shrink: 0;
        z-index: 9;

        .global-wrapper {
            text-align: right;
        }

        .button {
            background-color: getColor(Black);
            color: getColor(white);
            font-weight: 300;

            &:hover {
                background-color: rgba(0, 0, 0, 0.35);
            }
        }

        @include md {
            padding-top: $size-3;
            padding-bottom: $size-1;
        }

        @include sm {
            .global-wrapper {
                text-align: center;
            }
        }

    }

    .covid-content-wrapper {
        max-width: 1440px;
        width: 100%;
        margin: 80px auto;
        flex-grow: 1;
        flex-shrink: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 20px;

        .updated-ph-aside {
            display: flex;
            max-width: 992px;

            .updated-cases {
                order: 2;
                flex-shrink: 0;
            }

            .ph-cases {
                order: 1;
            }


        }

        .section-heading-group {
            margin: 0 auto;
            max-width: 900px;
            width: 100%;
            margin-bottom: 56px;
        }

        .updated-cases {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            padding-left: 96px;

            .case {
                width: 100%;
                max-width: 300px;
                flex-shrink: 0;

                .analysis {
                    position: relative;
                    border-radius: 12px 12px 0 0;
                    height: 200px;
                    padding: 24px;

                    .monthly {
                        font-weight: 700;
                        color: getColor(white);
                        line-height: 24px;
                    }

                    .container {
                        position: absolute;
                        padding: 0;
                        margin: 0;
                        height: auto;
                        width: 100%;
                        left: 0;

                        canvas {
                            position: relative;
                            padding: 0 8px;
                            width: 100%;
                            height: 120px !important;
                        }
                    }


                    .months {
                        position: absolute;
                        bottom: 24px;
                        display: grid;
                        grid-template-columns: repeat(5, calc(20%));
                        grid-template-rows: auto;
                        width: 100%;
                        left: 0;
                        text-align: center;

                    }
                }

                .total-case {
                    position: relative;
                    background-color: getColor(white);
                    padding: 16px;
                    width: 100%;
                    border-radius: 0 0 12px 12px;
                    box-shadow: 0px 15px 60px 0px rgba(53, 53, 53, 0.06);
                    display: flex;
                    flex-direction: column;

                    .total {
                        font-size: 14px;
                        color: getColor(Clay);
                        // margin-bottom: $size-1;
                        text-transform: uppercase;
                    }

                    .total-footer {
                        margin-top: 24px;
                        border-top: 1px solid RGBA(148, 148, 148, 0.06);
                        padding-top: 16px;

                        .percent {
                            color: getColor(Teal);
                            margin-left: 12px;
                            margin-right: 24px;
                            font-size: 14px;

                            &::before {
                                content: '+';
                            }

                            &::after {
                                content: '';
                                width: 10px;
                                height: 18px;
                                position: absolute;
                                background-size: contain;
                                background-repeat: no-repeat;
                                left: 24px;
                                bottom: 28px;
                                background-image: url('../../assets/images/svg/arrow.svg');
                            }

                            .last-month {
                                font-size: 12px;
                                color: getColor(Gray);
                            }
                        }
                    }

                }

                .monthly {
                    height: 47px;
                    display: block;
                }

                &.activ {
                    .analysis {

                        .canvas-hide {
                            &::before {
                                background-color: getColor(Matisse);
                            }

                            &::after {
                                background-color: getColor(Matisse);
                            }
                        }
                    }
                }

                &.recovered {

                    .analysis {

                        .canvas-hide {
                            &::before {
                                background-color: getColor(Teal);
                            }

                            &::after {
                                background-color: getColor(Teal);
                            }
                        }
                    }
                }

                &.death {
                    .analysis {

                        .canvas-hide {
                            &::before {
                                background-color: getColor(Plum);
                            }

                            &::after {
                                background-color: getColor(Plum);
                            }
                        }
                    }

                    .total-footer {

                        .percent {
                            color: getColor(Rosewood);

                            &::before {
                                content: '-';
                            }

                            &::after {
                                background-image: url('../../assets/images/svg/arrow-down.svg');
                            }
                        }
                    }
                }

                &.confirmed,
                &.recovered {
                    margin-right: $size-3;
                }

                &.confirmed,
                &.activ {
                    margin-bottom: $size-3;
                }

            }

        }

        .ph-cases {
            position: relative;
            width: 100%;
            max-width: 230px;
            flex-shrink: 0;


            &::after {
                position: absolute;
                right: -48px;
                top: 0;
                height: 100%;
                border-right: 1px dashed colorOpacity(getColor(Ash), 40);
                content: ' ';
            }

            .section-ph-cases {
                text-align: center;
                margin-bottom: $size-3;

                .heading {
                    margin-bottom: $size-2;
                }

                p {
                    margin-bottom: 0;
                    font-size: 12px;
                    line-height: 18px;
                }

                @include md {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }

            .ph-details {
                display: block;

                ul {
                    position: relative;

                    li {
                        background-color: white;
                        list-style: none;
                        border: 1px solid getColor(Rosewood);
                        padding: 16px;
                        text-align: center;
                        border-radius: 12px;
                        width: 100%;

                        p {
                            font-size: 12px;
                            margin-bottom: 0;
                        }

                        h3 {
                            color: getColor(Rosewood);
                        }

                        &.matisse {
                            border: 1px solid getColor(Matisse);

                            h3 {
                                color: getColor(Matisse);
                            }

                        }

                        &.teal {
                            border: 1px solid getColor(Teal);

                            h3 {
                                color: getColor(Teal);
                            }

                        }

                        &.plum {
                            border: 1px solid getColor(Plum);

                            h3 {
                                color: getColor(Plum);
                            }

                        }

                        &:not(:last-child) {
                            margin-bottom: $size-2;
                        }

                    }

                    @include xl {
                        grid-template-columns: repeat(2, calc(50% - 16px), );
                        grid-template-rows: auto;
                    }

                    @include sm {
                        grid-template-columns: 100%;
                    }
                }

            }

        }

        @include xl {

            .ph-cases {
                max-width: 160px;
            }

        }

        @include lg {

            .updated-ph-aside {
                flex-direction: column;
            }

            .ph-cases {
                max-width: none;
                margin-bottom: $size-8;

                .ph-details {

                    ul {
                        display: flex;

                        li {
                            width: calc((100% / 4) - 16px);
                            margin: 0 !important;
                            margin-right: $size-1 !important;

                            p {
                                font-size: 12px;
                                line-height: 18px;
                                margin-bottom: $size-1;
                                height: 36px;
                            }
                        }

                    }

                }


                &::after {
                    position: absolute;
                    right: auto;
                    top: auto;
                    bottom: -32px;
                    left: 0;
                    width: 100%;
                    height: 0;
                    border-right: 0px dashed colorOpacity(getColor(Ash), 40);
                    border-bottom: 1px dashed colorOpacity(getColor(Ash), 40);
                    content: ' ';
                }

            }


            .updated-cases {
                padding-left: 0;
                margin: 0 auto;
                justify-content: center;
            }


        }

        @include md {
            .ph-cases {
                margin-bottom: $size-8;

                .ph-details {

                    ul {
                        flex-wrap: wrap;
                        width: 100%;
                        max-width: 300px;
                        margin: 0 auto;
                        margin-bottom: $size-3;
                        align-items: center;
                        justify-content: center;
                    }

                    ul li {
                        flex-shrink: 0;
                        width: calc((100% / 2) - 16px);

                        &.new-confirmed,
                        &.new-deaths {
                            margin-bottom: $size-2 !important;
                        }

                    }
                }

                &::after {
                    bottom: -24px;
                }
            }


            .updated-cases {
                .case {
                    margin: 0 !important;


                    &:nth-child(1),
                    &:nth-child(2) {
                        margin-bottom: $size-1 !important;
                    }
                    
                    &:nth-child(1),
                    &:nth-child(3) {
                        margin-right: $size-1 !important;
                    }
                }
            }
        }

        @media screen and (max-width: 720px) {
            .updated-cases {
                .case .analysis {
                    height: 160px;

                    .container canvas {
                        height: 80px !important;
                    }
                }    
            
                .case {

                    &:not(:last-child) {
                        margin-bottom: $size-3 !important;
                    }
                }

            }

            .global-wrapper {
                padding: 0;
            }
        }


    }

    .news-section-container {
        padding: 80px;

        .section-heading-group {
            max-width: 900px;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 56px;

            h2 {
                font-size: 40px;
                line-height: 60px;
                margin-bottom: 8px;
            }
        }

        .news-boxes {

            &.covid {
                display: flex;
                grid-template-columns: initial;
                flex-direction: column;
                align-items: center;

                .news-box {

                    &.covid-box {
                        width: 100%;
                        // text-align: left;

                        &:not(:last-child) {
                            margin-bottom: $size-3;
                        }
                    }

                }

                .button {
                    margin-top: $size-4;
                }
            }
        }

        .cff-wrapper {
            #cff {
                display: flex;
                flex-direction: column;

                .cff-posts-wrap {
                    margin-bottom: 54px;

                    .cff-item {

                        @include md {
                            margin-bottom: 40px;
                        }
                    }

                    .cff-shadow {
                        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
                    }
                }

                .cff-item {

                    .cff-meta-wrap {
                        flex-wrap: wrap;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;


                        .cff-post-links {
                            margin: 0;

                        }

                        .cff-view-comments-wrap {
                            .cff-view-comments {
                                background: none;
                                box-shadow: none;
                                padding: 0;

                                ul {
                                    li {
                                        margin-right: 0 !important;
                                        margin: 0 4px;

                                        span {
                                            margin: 0 4px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    @include md {
                        margin-left: 0;
                        margin-right: 0;
                    }
                }
            }

            .cff-load-more {
                height: 40px;
                padding: 0 $size-3;
                font-weight: 500;
                font-size: 15px;
                border-radius: 999px;
                text-decoration: none;
                display: inline-flex;
                cursor: pointer;
                @extend %center-all;
                background: transparent;
                border: 1px solid;
                width: auto;
                margin: auto;
                position: absolute;
                bottom: -80px;
                left: 50%;
                transform: translateX(-50%);
                float: initial;

                @include md {
                    bottom: 0;
                }

            }
        }



        @include md {
            padding: 80px 20px;
        }
    }

    footer {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
        flex-wrap: wrap;

        h5 {
            margin-right: 32px;
        }

        .num {
            display: flex;
            align-items: center;

            &:not(:last-child) {
                margin-right: 24px;
            }

            p,
            a[href^=tel] {
                color: white !important;
                font-size: 12px;
                margin: 0;
                text-decoration: none;

                &:not(:last-child) {
                    margin-right: 8px;
                }
            }


            @include md {
                &:not(:last-child) {
                    margin-right: 0;
                }

                p,
                a[href^=tel] {
                    font-size: 12px;
                }
            }

            @include sm {

                p,
                a[href^=tel] {
                    &:not(:last-child) {
                        margin-right: 0;
                    }
                }
            }

            @include sm {
                flex-direction: column;
            }
        }

        @include md {
            flex-direction: column;

            h5 {
                margin-right: 0;
            }
        }
    }



}

.fbfeed-container {
    padding: 80px;
    overflow: hidden;
    height: auto;
    width: 100%;

    .cff-wrapper {


        #cff {
            display: flex;
            flex-direction: column;

            .cff-posts-wrap {
                // margin-bottom: 54px;

                .cff-item {
                    position: relative;
                    margin-bottom: 0 !important;

                    @include md {

                        &:not(:last-child) {
                            margin-bottom: 40px;
                        }
                    }
                }

                .cff-shadow {
                    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
                }
            }

            .cff-item {
                margin-bottom: 0;

                .cff-meta-wrap {
                    flex-wrap: wrap;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;


                    .cff-post-links {
                        margin: 0;

                    }

                    .cff-view-comments-wrap {
                        .cff-view-comments {
                            background: none;
                            box-shadow: none;
                            padding: 0;

                            ul {
                                li {
                                    margin-right: 0 !important;
                                    margin: 0 4px;

                                    span {
                                        margin: 0 4px;
                                    }
                                }
                            }
                        }
                    }
                }

                @include md {
                    margin-left: 0;
                    margin-right: 0;
                }
            }

            &.cff-masonry {
                margin-bottom: 0;

                &.cff-item {
                    margin-bottom: 0;
                }
            }
        }

        .cff-load-more {
            height: 40px;
            padding: 0 $size-3;
            font-weight: 500;
            font-size: 15px;
            border-radius: 999px;
            text-decoration: none;
            display: inline-flex;
            cursor: pointer;
            @extend %center-all;
            background: transparent;
            border: 1px solid;
            width: auto;
            margin: auto;
            position: absolute;
            bottom: -80px;
            left: 50%;
            transform: translateX(-50%);
            float: initial;

            @include md {
                bottom: 0;
            }

        }
    }

    @include md {
        padding: 80px 20px;
    }


}