.page-404 {
    @extend %center-all;    

    .global-wrapper {
        @extend %center-all;
        padding-left: 0;
        padding-right: 0;
    }
    .text-404 {
        flex-grow: 1;
    }
    
    .sumisip-brand {
        flex-shrink: 0;
        width: 100%;
        max-width: 400px;
        margin-left: $size-5;

        img {
            height: auto;
            width: 400px;
            filter: grayscale(100%);
        }
    }
}