.page-404 {

    .global-wrapper {
        @extend %center-all;
        flex-direction: column;

        .text-404{
            text-align: center;
            width: 60%;
        }

        .sumisip-brand {
            width: 100%;
            max-width: 400px;
            height: 320px;
            // margin-left: $size-5;
    
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                // filter: grayscale(100%);
            }
    
            
        }

        @include lg {

            .text-404{
                width: 100%;
            }
        
            .sumisip-brand{
                margin-left: 0;

                img{
                    width: 100%;
                }
            }
        }
    }

   

   
}