.image-group-blurry {
    position: relative;
    height: 100%;
    width: 100%;

    img {
        position: absolute;
        height: 100%;
        width: 100%;
        max-height: 350px;
        z-index: 1;
        filter: blur(1.5px);


        &.tilt-left {
            transform: rotate(-4deg);
        }

        &.tilt-right {
            transform: rotate(4deg);
        }

        &:first-child {
            z-index: 2;
            filter: blur(0px);
        }
    }
}