.post-composition {
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: $size-2;
  }

  p {
    &:not(:last-child) {
      margin-bottom: $size-1;
    }

    img {
      max-width: 60%;
      margin: $size-3;
    }
  }

  ul {
    margin: $size-2 0;
    margin-left: $size-3;

    li {
      &:not(:last-child) {
        margin-bottom: $size-1;
      }
    }
  }

  &:nth-child(even) {
    p {
      img {
        float: left;
      }
    }
  }

  &:nth-child(odd) {
    p {
      img {
        float: right;
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: $size-2;
  }

  &::after {
    display: block;
    content: '';
    clear: both;
  }
  
  @include sm {
    &:nth-child(odd),
    &:nth-child(even) {
      p img {
        display: block;
        margin: $size-3 auto;
        max-width: none;
        width: 100%;
        float: none;
        max-height: 300px;
      }
    }
  }
}

.page-composition {
  h2,
  h3,
  h4 {
    margin-bottom: $size-2;
  }

  p {
    &:not(:last-child) {
      margin-bottom: $size-1;
    }
  }

  .button,
  button {
    margin-top: $size-2;
  }

  &.text-center {
    text-align: center;
  }

  @include md {
    h2,
    h3,
    h4 {
      margin-bottom: $size-1;
    }
    .button,
    button {
      margin-top: $size-1;
    }

    &.text-center {
      text-align: left;
    }
  }
}
