.comment-section {
    padding-top: $size-5;
    padding-bottom: $size-5;
    border-bottom: 1px solid shade(getColor(Silver), 10);

    h4 {
        padding-bottom: $size-5;
    }

    .comment-wrapper {
        display: flex;
        align-items: flex-start;

        &:not(:last-child) {
            margin-bottom: $size-3;
        }

        .comment-profile-img {
            width: 150px;
            height: 150px;
            margin-right: $size-4;
            flex-shrink: 0;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center center;
            }
        }

        .comment-etc-wrapper {
            h4 {
                padding: 0px;
                font-size: 18px;
                line-height: 18px;
            }

            span {
                color: getColor(Ash);
                font-size: 12px;
            }

            p {
                margin-bottom: $size-2;
            }

            a {
                display: inline-block;
                padding: $size-half 20px;
                color: getColor(White);
                border: 1px solid  getColor(Clay);
                color: getColor(Clay);
                font-size: 13px;
                font-weight: 400;
                border-radius: 9999999px;
                transition: 200ms;

                &:hover {
                    text-decoration: none;
                    background: getColor(Clay);
                    color: #fff
                }
            }
        }

    }
}

.user-comment {
    padding-top: $size-8;

    h4 {
        margin-bottom: $size-3;
    }
}

#comments {
    margin-top: $size-5;

    .comment-reply-title {
        font-size: $size-3;
    }
}

.depth-2 {
    width: 78%;
    margin: 0 auto;
    margin-right: 0px;
    padding-left: 30px;
    border-left: 1px solid getColor(Gray);

    img {
        display: none;
    }

}

.depth-3,
.depth-4,
.depth-5 {
    width: 98%;
    margin: 0 auto;
    margin-right: 0px;
    padding-left: 30px;
    border-left: 1px solid getColor(Gray);

    img {
        display: none;
    }

}

.comment-flex-center {
    display: flex;
    align-items: flex-start;
    margin-top: $size-4;
    margin-bottom: $size-5;

    .comment-author.vcard {
        display: flex;
        align-items: flex-start;

        .post-author-badge {
            margin-right: $size-1;
        }

    }

    img {
        margin-right: $size-3;

    }

    .fn {
        font-size: 24px;
    }

    .comment-content {
        // margin-top: $size-1;
        margin-bottom: $size-2;
    }

    .comment-metadata {

        svg {
            height: 14px;
            fill: #949494
        }

        span {
            color: #949494;

        }


        a {
            color: #949494;
            font-size: 14px;
        }
    }

    .comment-reply {

        a {
            display: inline-block;
            padding: $size-half 20px;
            color: getColor(White);
            border: 1px solid  getColor(Clay);
            color: getColor(Clay);
            font-size: 13px;
            font-weight: 400;
            border-radius: 9999999px;
            transition: 200ms;
    
            &:hover {
                text-decoration: none;
                background: getColor(Clay);
                color: #fff
            }
        }
    }
}

.comment-form-cookies-consent {
    display: flex;
    align-items: center;
    justify-items: flex-start;

    input {

        &[type="checkbox"] {
            width: auto;
            margin-right: $size-1;
        }
    }
}

.styled-separator.is-style-wide {
    display: none;
}


#respond {
    padding-top: $size-5;

    .comment-form-comment {
        margin-top: $size-3;

        label {
            display: none;
        }
    }

    .form-submit {
        #submit {
            width: auto;
            border: none;
            padding: 10px 24px;
            color: getColor(Clay);
            border: 1px solid getColor(Clay);
            transition: 200ms;
            border-radius: 999999px;
            font-size: 14px;
            
            &:hover {
                color: getColor(White);
                background: getColor(Clay);
            }
        }
    }
}

.comment-meta {
    background-color: inherit;
}