.event-group {
  flex-direction: column;
  @extend %center-all;

  .event-item {
    position: relative;
    width: 100%;
    max-width: 550px;
    height: 150px;
    padding: $size-4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;

    .event-details {
      position: relative;
      z-index: 2;
      text-align: right;
      color: getColor( White );

      .event-title {
          margin-bottom: $size-half;
          color: colorOpacity( getColor( White ), 60);
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center right;
      z-index: 1;
    }

    &:not(:first-child) {
      margin-top: $size-half;
    }

    &:not(:last-child) {
      margin-bottom: $size-half;
    }
  }
}
