.countdown-timer {
  display: flex;
  justify-content: space-between;
  width: 220px;
  color: getColor(Marigold);

  .count {
    display: flex;
    align-items: center;
    flex-direction: column;

    .display-3 {
      font-weight: 300;
    }

    p {
      opacity: 0.5;
    }
  }

}
