.hub-contents {

  .hub-padding {
    padding-top: $size-4;
    padding-bottom: $size-4;

    &.first-child {
      padding-top: $size-12;
    }

    &.last-child {
      padding-bottom: $size-12;
    }

    @include xl {
      &.first-child {
        padding-top: $size-10;
      }

      &.last-child {
        padding-bottom: $size-10;
      }
    }

    @include md {
      padding-top: $size-3;
      padding-bottom: $size-3;

      &.first-child {
        padding-top: $size-8;
      }

      &.last-child {
        padding-bottom: $size-8;
      }
    }

    @include sm {
      padding-top: $size-2;
      padding-bottom: $size-2;

      &.first-child {
        padding-top: $size-5;
      }

      &.last-child {
        padding-bottom: $size-5;
      }
    }

  }

  .hub-composition {
    
    h2,
    h3,
    h4 {
      margin-bottom: $size-2;
    }

    ul {
      margin: $size-2 0;
      margin-left: $size-3;
    }

    &.hub-leading {
      text-align: center;
    }

  }

}
