.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 999;

    .ramadan {
        position: relative;
        background-color: #070029;
        width: 100%;
        height: 100%;
        z-index: 2;

        .content {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .img-wrapper {
                width: 60%;
                height: 100%;
                background-image: url('../../assets/images/Ramadan.png');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;

            }

            .lantern {
                position: absolute;
                right: 0;
                top: 0;
                width: 24%;
                height: 60%;
                background-image: url('../../assets/images/lantern.png');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;

                @include xl {
                    height: 24%;
                }
            }

            .description {
                padding: 56px;
                height: auto;
                width: 40%;

                p {
                    color: white;
                    margin-bottom: 16px;
                }
            }

            @include xl {
                flex-direction: column;

                .img-wrapper {
                    height: 60%;
                    width: 100%;
                }

                .description {
                    width: 80%;
                    text-align: center;
                }
            }

            @include sm {

                .img-wrapper {
                    width: 90%;
                }

                .description {
                    height: 50%;
                    width: 100%;
                    padding: 24px;

                    p {
                        font-size: 12px;
                        line-height: initial;
                        margin-bottom: 8px;
                    }
                }
            }

            @include xs {
                .img-wrapper {
                    height: 32%;
                }

                .description {
                    p {
                        font-size: 10px;
                    }
                }
            }
        }


        .close {
            position: absolute;
            top: 56px;
            right: 56px;
            cursor: pointer;
            z-index: 999;

            @include md {
                top: 24px;
                right: 24px;
            }

            @include sm {
                height: 16px;
                width: 16px;
            }
        }

    }



    .covid {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;

        .img-wrapper {
            background-image: url('../../assets/images/Covid.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 100%;
        }

        #covid-close {
            position: absolute;
            top: 56px;
            right: 56px;
            cursor: pointer;
            z-index: 999;

            @include md {
                top: 24px;
                right: 24px;
            }

            @include sm {
                height: 16px;
                width: 16px;
            }
        }

        .content {
            position: absolute;
            width: 100%;
            height: 90%;
            top: 56px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            flex-direction: column;
            text-align: center;

            .display {
                display: block;
                font-size: 120px;
                font-weight: 700;
                color: getColor(Rosewood);
                line-height: 160px;
            }

            .display-2 {
                display: block;
                font-size: 72px;
                color: getColor(Rosewood);
            }

            .social-links {
                display: flex;
                justify-content: center;
                margin-top: 32px;

                .email,
                .fb {
                    display: flex;
                    align-items: center;

                    p {
                        color: getColor(Rosewood);
                        font-size: 18px;
                        margin-left: 8px;
                    }
                }

                .email {
                    margin-right: 40px;
                }
            }

            .contact {
                margin-top: 40px;

                h2 {
                    text-transform: uppercase;
                }

                .health,
                .mdrrmo {
                    margin-top: 24px;
                    display: flex;
                    flex-direction: column;

                    span {
                        font-size: 24px;
                        line-height: 32px;

                        &.office {
                            color: getColor(Rosewood);
                            text-transform: uppercase;
                        }

                        &.numbers {
                            font-weight: 700;
                        }
                    }
                }
            }

            .details {
                position: absolute;
                bottom: 0;
                width: 60%;
                display: flex;
                flex-direction: column;
                left: 50%;
                transform: translateX(-50%);

                .updated-time {
                    display: flex;
                    justify-content: space-between;

                    .confirmed {
                        text-align: right;
                        font-weight: 700;
                        color: getColor(Rosewood);
                    }

                    @include sm {
                        flex-direction: column;

                        span {
                            font-size: 12px;
                            line-height: 16px;
                        }

                        .confirmed {
                            margin-top: 8px;
                            text-align: center;
                        }
                    }
                }

                .cases {
                    display: flex;
                    width: 100%;
                    margin-top: 16px;

                    ul {
                        width: 100%;
                        display: flex;

                        li {
                            list-style: none;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            width: 25%;
                            height: 120px;
                            padding: 16px;

                            &:not(:last-child) {
                                margin-right: 24px;
                            }

                            p{
                                margin: 0;

                            }


                            &.rosewood {
                                border: 1px solid getColor(Rosewood);

                                h3 {
                                    color: getColor(Rosewood);
                                }
                            }

                            &.matisse {
                                border: 1px solid getColor(Matisse);

                                h3 {
                                    color: getColor(Matisse);
                                }
                            }

                            &.teal {
                                border: 1px solid getColor(Teal);

                                h3 {
                                    color: getColor(Teal);
                                }
                            }

                            &.marigold {
                                border: 1px solid getColor(Marigold);

                                h3 {
                                    color: getColor(Marigold);
                                }
                            }

                            @include sm {
                                width: calc(50% - 8px);
                                height: 56px;
                                margin-bottom: 8px;
                                padding: 8px;
                                
                                p{
                                    line-height: 16px;
                                    font-size: 12px;
                                    margin-bottom: 0;
                                }

                                &:not(:last-child) {
                                    margin-right: 0;
                                }

                                &:nth-child(1) {
                                    margin-right: 16px;
                                }

                                &:nth-child(3) {
                                    margin-right: 16px;
                                    margin-bottom: 0;
                                }

                                &:last-child{
                                    margin-bottom: 0;
                                }

                                h3{
                                    font-size: 16px;
                                    margin-top: 0;
                                    line-height: 24px;
                                }

                            }

                            @include xs{
                                p{
                                    font-size: 10px;
                                }
                            }

                        }

                        @include sm {
                            flex-wrap: wrap;
                        }

                    }
                }

                @include xl {
                    width: 90%;
                }

            }

            @include md {
                padding: 0 24px;
                top: 40px;

                .display {
                    font-size: 72px;
                    line-height: 80px;
                }

                .display-2 {
                    font-size: 44px;
                }

                .social-links {
                    flex-direction: column;
                    align-items: center;

                    .email {
                        margin-bottom: 16px;
                        margin-right: 0;
                    }
                }
            }

            @include sm {
                .display {
                    font-size: 64px;
                    line-height: 64px;
                }

                .display-2 {
                    font-size: 32px;
                    line-height: 32px;
                }

                .social-links {
                    margin-top: 8px;

                    .email {
                        margin-bottom: 8px;
                    }

                    .email,
                    .fb {

                        svg {
                            height: 16px;
                        }

                        p {
                            font-size: 12px;
                        }
                    }
                }

                .contact {
                    margin-top: 24px;

                    .health,
                    .mdrrmo {
                        margin-top: 8px;

                        span {
                            font-size: 18px;
                            line-height: 24px;
                        }
                    }
                }
            }

            @include xs{
                top: 16px;
                height: 95%;
                .display{
                    font-size: 40px;
                    line-height: 56px;
                }

                .display-2{
                    font-size: 24px;
                }

                .social-links{
                    margin-top: 0;

                    .email{
                        margin-bottom: 0;
                    }

                    svg{
                        height: 10px;
                    }

                    p{
                        margin-left: 4px;
                    }
                }

                .contact{
                    margin-top: 8px;

                    h2{
                        font-size: 20px;
                    }

                    .health,
                    .mdrrmo {
                        margin-top: 8px;

                        span {
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }
                }
            }


        }
    }

}