.pagination-wrapper {
    display: flex;
    justify-content: center;
}

.pagination {
    @extend %center-all;
    list-style-type: none;
    margin-top: $size-5;

    li {

        a {
            display: block;
            padding: $size-1 $size-2;

            &.active {
                border: 1px solid getColor(Black);

                &:hover {
                    text-decoration: none;
                }
            }
        }

    }


}