.pagination-wrapper {
    display: flex;
    justify-content: center;
}

.pagination {
    @extend %center-all;
    list-style-type: none;
    margin-top: $size-5;

    li {

        &.active {
            border: 1px solid getColor(Black);

            a {
                &:hover {
                    text-decoration: none;
                }
            }

        }

        a {
            display: block;
            padding: $size-1 $size-2;

        }

    }


}