.composition {

    h2,h3,h4,h5 {
        margin-bottom: $size-1
    }
    p {
        &:not(:last-child) {
            margin-bottom: $size-half;
        }
    }

    &:nth-child(even) {
        p {
            img {
                float: left!important;
            }
        }
    }

    &:nth-child(odd) {
        p {
            img {
                float: right!important;
            }
        }
    }

    &:not(:last-child) {
        margin-bottom: $size-2;
    }

}