.post-body-section {

    .global-wrapper {
        display: flex;
        align-items: flex-start;

        .post-main-body {
            flex-grow: 1;
            flex-shrink: 1;
            margin-right: $size-5;

            .breadcrumbs {
                margin-bottom: $size-2;

                a {
                    &:not(:last-child) {
                        margin-right: $size-2;

                        &::after {
                            position: absolute;
                            content: '/';
                            margin-left: $size-1;
                        }
                    }
                }
            }

            .post-img-wrapper {
                width: 100%;
                height: 450px;
                margin-bottom: $size-3;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center center;
                    padding: 8px;
                    -webkit-box-shadow: 0px 0px 30px 0px rgba(53, 53, 53, .16);
                    -moz-box-shadow: 0px 0px 30px 0px rgba(53, 53, 53, .16);
                    box-shadow: 0px 0px 30px 0px rgba(53, 53, 53, .16);
                    transform: rotate(-1deg);
                }
            }

            .post-content {
                margin-bottom: $size-5;

                h2 {
                    margin-bottom: $size-1;
                }

                p {
                    color: getColor(Gray);
                }

                .sub-content {
                    display: flex;
                    align-items: flex-start;
                    justify-items: flex-start;
                    margin-top: $size-2;

                    .sub-post-content {
                        width: 50%;
                        margin-right: $size-1;

                        span {
                            color: getColor(Gray);
                        }
                    }

                    .sub-img-content {
                        width: 50%;
                        margin-left: $size-1;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            object-position: center center;
                            padding: 8px;
                            -webkit-box-shadow: 0px 0px 30px 0px rgba(53, 53, 53, .16);
                            -moz-box-shadow: 0px 0px 30px 0px rgba(53, 53, 53, .16);
                            box-shadow: 0px 0px 30px 0px rgba(53, 53, 53, .16);
                            transform: rotate(1deg);
                        }
                    }


                }

            }

            .post-tags {
                margin-bottom: $size-5;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                h4 {
                    font-weight: 800;
                    font-size: 16px;
                    margin-right: $size-1;
                }

                a {
                    color: getColor(Gray);
                    text-transform: lowercase;
                    font-size: 14px;

                }
            }

            .post-social-media {
                border-bottom: 1px solid getColor(Clay);
                @extend %center-all;
                padding-bottom: $size-5;

                .social-wrapper {
                    @extend %center-all;

                    .icon-wrapper {
                        height: 24px;
                        width: 24px;

                        svg {
                            height: 100%;
                            width: 100%;
                        }
                    }


                    a {
                        display: inline-block;
                        color: getColor(Clay);
                        font-size: 24px;

                        &:not(:last-child) {
                            margin-right: $size-3;
                        }

                        &:hover {
                            color: getColor(Gray);
                        }

                    }

                }
            }
        }
    }

}