.post-body-section {

    .global-wrapper {
        display: flex;
        align-items: flex-start;

        .post-main-body {

            .breadcrumbs {
                margin-bottom: $size-2;

                a {
                    &:not(:last-child) {
                        margin-right: $size-2;

                        &::after {
                            position: absolute;
                            content: '/';
                            margin-left: $size-1;
                        }
                    }
                }
            }

            .post-img-wrapper {
                width: 100%;
                height: 380px;
                margin-bottom: $size-3;


                &.landscape {

                }

                &.portrait {

                }
            }

            .post-content {
                margin-bottom: $size-5;

                p {
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }

                h2 {
                    margin-bottom: $size-1;
                }

                img {
                    max-width: 60%;
                    margin: $size-3;
                    float: right;
                }
                
            }

            .post-tags {
                margin-bottom: $size-5;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                h4 {
                    font-weight: 800;
                    font-size: 16px;
                    margin-right: $size-1;
                }

                a {
                    color: getColor(Gray);
                    text-transform: lowercase;
                    font-size: 14px;

                }
            }

            .post-social-media {
                padding-bottom: $size-5;
                border-bottom: 1px solid shade(getColor(Silver), 10);
                @extend %center-all;

                .social-wrapper {
                    @extend %center-all;

                    .icon-wrapper {
                        height: 24px;
                        width: 24px;

                        svg {
                            height: 100%;
                            width: 100%;
                        }
                    }


                    a {
                        display: inline-block;
                        color: getColor(Clay);
                        font-size: 24px;

                        &:not(:last-child) {
                            margin-right: $size-3;
                        }

                        &:hover {
                            color: getColor(Gray);
                        }

                    }

                }
            }
        }
    }

}