.post-body-section {

    .global-wrapper {
        display: flex;
        align-items: flex-start;

        .post-main-body {
            flex-grow: 1;
            flex-shrink: 1;
            margin-right: $size-5;

            .post-img-wrapper {
                width: 100%;
                height: 450px;
                margin-bottom: $size-3;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center center;
                }
            }

            .post-content {
                margin-bottom: $size-5;

                p {
                    color: getColor(Gray);
                }
            }

            .post-tags {
                margin-bottom: $size-5;

                h4 {
                    font-weight: 300;
                    margin-bottom: $size-half;
                }

                a {
                    color: getColor(Gray);
                    text-transform: uppercase;
                    font-size: 14px;
                }
            }

            .post-social-media {
                border-bottom: 1px solid getColor(Clay);
                @extend %center-all;
                padding-bottom: $size-5;

                .social-wrapper {
                    @extend %center-all;

                    .icon-wrapper {
                        height: 24px;
                        width: 24px;

                        svg {
                            height: 100%;
                            width: 100%;
                        }
                    }


                    a {
                        display: inline-block;
                        color: getColor(Clay);
                        font-size: 24px;

                        &:not(:last-child) {
                            margin-right: $size-3;
                        }

                        &:hover {
                            color: getColor(Gray);
                        }

                    }

                }
            }
        }
    }

}