.programs-section {
    position: relative;
    min-height: 90vh;
    @extend %center-all;

    .heading-group {
        text-align: center;
        margin-bottom: $size-4;

        h1 {
            margin-bottom: $size-2;
        }
    }

    .program-boxes {
        display: grid;
        grid-column-gap: $size-2;
        grid-row-gap: $size-2;
        justify-content: center;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: 300px;

        .program-box {
            padding: $size-4;
            color: getColor(White);

            .svg-wrapper {
                display: flex;
                @extend %center-all;
                width: 56px;
                height: 56px;
                margin-bottom: $size-2;
            }

            .program-content {

                p {

                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }

                h5 {
                    width: 170px;
                    margin-bottom: $size-1;
                }

                margin-bottom: $size-2;
            }

            a {
                font-weight: 800;
                font-size: 16px;
                color: getColor(White);
            }

        }

        @include lg {
            grid-template-columns: minmax(calc(50% - 16px), 350px) minmax(calc(50% - 16px), 350px);
            grid-template-rows: auto;
        }

        @include sm {

            .program-box {

                .svg-wrapper {
                    height: 48px;
                    width: 48px;
                    margin-bottom: $size-2;
                }

                .program-content h5 {
                    margin: 0 auto;
                    width: 100%;
                    margin-bottom: $size-1;
                }
            }

        }


        @include ss {
            grid-template-columns: 300px;
            grid-column-gap: 0;

            .program-box {
                height: 300px;
                width: 300px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .program-content {
                    p {
                        -webkit-line-clamp: 3;
                    }
                }

            }
        }

    }

}

.video-section {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;

    svg {
        position: absolute;
        left: calc(50% - 60px);
        top: calc(50% - 60px);
        height: 120px;
        width: 120px;
        fill: getColor(White);
        opacity: .3;
        transition-duration: .6s;
    }

    video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center center;
    }

    &:hover {

        svg {
            opacity: .6;
        }
    }
}