.side-by-side {
  display: flex;

  .preview {
    width: 50%;
    margin-right: $size-2;


    &.blurry-preview {
      margin-right: $size-5;
    }

  }

  .details {
    width: 50%;
    margin-left: $size-2;

    &.align-center {
      display: flex;
      flex-direction: column;
      justify-content: center;

      button {
        align-self: flex-start;
      }

    }
  }

  &.reverse {

    .preview {
      order: 2;
      margin-right: 0;
      margin-left: $size-2;

      &.blurry-preview {
        margin-right: 0;
        margin-left: $size-5;
      }
    }

    .details {
      order: 1;
      margin-left: 0;
      margin-right: $size-2;
    }


  }

  &.align-items-center {
    align-items: center;
  }


  @include lg {
    flex-direction: column;

    .preview,
    .details,
    &.reverse .preview,
    &.reverse .details {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }


    .details {
      margin-top: $size-3;
    }

    &.reverse {

      .preview {
        order: 1;
      }

      .details {
        order: 2
      }

    }

  }

}