/* 
    Set default global styles for form elements:
    e.g. textarea, radio, checkbox, label
*/
form {

    &.comment-form {

        input {

            &:not(:last-child) {
                margin-bottom: $size-2;
            }

            &[type="checkbox"] {
                width: auto;
            }

            &[type="submit"] {
                width: auto;
            }
        }

        textarea {
            margin-bottom: $size-2;
        }

        p {
            color: #b9b9b9;
            text-transform: uppercase;
            margin-top: $size-4;
            margin-bottom: $size-4;
        }

        label {
            color: #b9b9b9;

        }



    }

}