/* 
    Set default global styles for inputs elements:
    e.g. select, input[type="text"], input[type="email"], input[type="number"]
*/

input {
    border-radius: 5px;
    border: 1px solid shade(getColor(Silver), 20);
    padding: 14px;
    width: 100%;

    &:active,
    &:focus {
        outline: none;
        border-color: shade(getColor(Silver), 50);
    }

    &::placeholder {
        color: #bdbdbd;
        font-weight: 300;
    }

    &.search {
        border: none;
        padding-left: 0px;
    }
}

.input-group {

    label {
        display: block;
        margin-bottom: $size-half;
    }

    &.w-icon {
        position: relative;

        .icon-wrapper {
            position: absolute;
            left: 12px;
            bottom: 14px;
            height: 21px;
            width: 21px;

            svg, svg path {
                fill: getColor( Black );
                width: 100%;
                height: 100%;
            }
        }

        input {
            padding-left: 42px;
        }
    }
}




.container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 17px;
    width: 17px;
    // background-color: #eee;
    border: 1px solid #b9b9b9;
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: getColor(White);
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    // background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 2px;
    height: 6px;
    border: solid getColor(Ash);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}