/* 
    Set default global styles for: 
    Navigation <nav></nav>
*/

nav {
    position: relative;
    width: 100%;
    height: 104px;
    padding: 0 88px;
    display: flex;
    z-index: 99;

    .branding-wrapper {
        position: relative;
        width: 160px;
        height: 100%;
        z-index: 3;
        flex-shrink: 0;

        .branding-body {
            position: absolute;
            width: 100%;
            height: 200px;
            background-color: getColor(White);
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
            @extend %center-all;
            overflow: hidden;

            img {
                height: 130%;
                width: 130%;
                object-fit: contain;
                object-position: top center;
            }
        }
    }

    .nav-list {
        flex-grow: 1;
    }

    .event-nav-list {
        position: relative;
        z-index: 2;
        @extend %center-all;

        @include lg {
            flex-grow: 1;
            justify-content: flex-start;
            padding: 0 $size-3;
        }

        @include sm {
            padding: 0 $size-2;

            .button {
                font-size: 14px;
                padding: 0 $size-2;

                span {
                    display: none;
                }
            }
        }
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        height: 48px;
        width: 100%;
        background-image: url('../../assets/images/svg/nav-mark.svg');
        background-position: bottom left;
        content: ' ';
        opacity: 0.2;
        z-index: 1;
    }

    &.rosewood {
        background-color: getColor(Rosewood);

        .nav-item {

            &:hover,
            &.active {
                background-color: colorOpacity(shade(getColor(Rosewood), 50), 30);
            }
        }
    }

    &.matisse {
        background-color: getColor(Matisse);

        .nav-item {

            &:hover,
            &.active {
                background-color: colorOpacity(shade(getColor(Matisse), 50), 30);
            }
        }
    }

    &.marigold {
        background-color: getColor(Marigold);

        .nav-item {
            a span {
                color: shade(getColor(Marigold), 65);
            }

            &:hover,
            &.active {
                background-color: colorOpacity(shade(getColor(Marigold), 30), 20);
            }
        }
    }

    // Color Classes
    &.teal {
        background-color: getColor(Teal);

        .nav-item {

            &:hover,
            &.active {
                background-color: colorOpacity(shade(getColor(Teal), 50), 20);
            }
        }
    }

    &.iris {
        background-color: getColor(Iris);

        .nav-item {

            &:hover,
            &.active {
                background-color: shade(getColor(Iris), 15);
            }
        }
    }

    &.plum {
        background-color: getColor(Plum);

        .nav-item {

            &:hover,
            &.active {
                background-color: shade(getColor(Plum), 15);
            }
        }
    }

    @include xxl {
        padding: 0 $size-7;
    }

    @include xl {
        height: 88px;
        padding: 0 $size-4;
        justify-content: space-between;

        .branding-wrapper {
            width: 140px;

            .branding-body {
                height: 180px;
            }
        }
    }

    @include lg {
        padding: 0 $size-3;

        .branding-wrapper {
            width: 130px;

            .branding-body {
                height: 165px;
            }
        }
    }

    @include md {
        height: 80px;
        padding: 0 $size-3;
    }

    @include sm {
        padding: 0 $size-2;
    }

    @include ss {
        .branding-wrapper {
            width: 120px;

            .branding-body {
                height: 155px;
            }
        }
    }
}

.nav-menu-wrapper {
    position: relative;
    height: 100%;
    width: 32px;
    @extend %center-all;
    cursor: pointer;
    z-index: 3;
    flex-shrink: 0;
    display: none;

    .nav-menu {
        position: relative;
        height: 25px;
        width: 100%;

        span {
            position: absolute;
            display: block;
            height: 4px;
            background-color: getColor(White);
            width: 100%;
            border-radius: 999px;
            transition-duration: 300ms;
            transition-timing-function: cubic-bezier(0.1, 0.82, 0.385, 0.995);

            &:nth-child(1) {
                top: 0;
                left: 0;
            }

            &:nth-child(2) {
                top: 9px;
                left: 0;
            }

            &:nth-child(3) {
                top: 18px;
                left: 0;
            }
        }
    }

    &.close {
        .nav-menu {
            span {
                &:nth-child(1) {
                    top: 11px;
                    left: 0;
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    top: 9px;
                    left: 10px;
                    opacity: 0;
                }

                &:nth-child(3) {
                    top: 11px;
                    left: 0;
                    transform: rotate(-45deg);
                }
            }
        }
    }

    @include lg {
        display: flex;
    }
}

.nav-list {
    display: flex;
    margin-left: $size-2;
    z-index: 2;

    .nav-item {
        >a {
            position: relative;
            padding: 0 $size-4;
            height: 100%;
            padding-top: 4px;
            display: flex;
            flex-direction: column;
            text-decoration: none;
            justify-content: center;

            span {
                display: block;
                font-size: 14px;
                line-height: 14px;
                font-weight: 500;
                text-transform: uppercase;
                color: getColor(White);

                &:first-child {
                    margin-bottom: 4px;
                }
            }
        }

        &.active {
            &::before {
                border-bottom-color: getColor(White);
            }
        }

        @media screen and (min-width: 665px) {
            &:hover {
                .mega-menu {
                    display: flex;
                }
            }
        }

        @media screen and (max-width: 664px) {
            &.show-mega-menu {
                a {
                    background-color: getColor(White);
                }

                .mega-menu {
                    display: flex;
                }
            }
        }
    }

    @include xxl {
        .nav-item {
            >a {
                padding: 0 $size-3;
            }
        }
    }

    @include xl {
        .nav-item {
            >a {
                padding: 0 $size-2;
            }
        }
    }

    @include lg {
        display: none;

        &.show-menu {
            position: absolute;
            top: 88px;
            left: -16px;
            width: 100%;
            padding-left: 170px;
            background-color: tint(getColor(Silver), 10);
            justify-content: flex-end;
            display: flex;
            animation: dropFadeMin 300ms cubic-bezier(0.1, 0.82, 0.385, 0.995) both;

            .nav-item {
                flex-grow: 1;

                &:hover,
                &.active {
                    background-color: colorOpacity(getColor(Black), 5) !important;

                    a span {
                        color: getColor(Black);
                    }
                }

                >a {
                    padding: $size-3 $size-2;
                    user-select: none;
                    pointer-events: none;

                    span {
                        color: getColor(Ash);
                    }
                }
            }
        }
    }

    @include md {
        &.show-menu {
            top: 72px;
        }
    }

    @media screen and (max-width: 664px) {
        &.show-menu {
            display: flex;
            flex-direction: column;
            top: 80px;
            padding-left: 0;

            a {
                text-align: right;
                flex-direction: row;
                justify-content: flex-end;

                span {
                    &:nth-child(1) {
                        margin-right: $size-half;
                    }
                }
            }
        }
    }
}

.mega-menu {
    position: absolute;
    top: 104px;
    left: 0;
    width: 100%;
    padding: $size-5;
    padding-left: 284px;
    padding-bottom: $size-8;
    background-color: getColor(White);
    display: none;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    animation: dropFadeMin 1s cubic-bezier(0.1, 0.82, 0.385, 0.995) both;

    .mega-menu-group {
        h4 {
            display: -webkit-box;
            // -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            margin-bottom: $size-1;
        }

        &:not(:first-child) {
            padding-left: $size-4;
            margin-left: $size-4;

            ul {
                position: relative;

                &::after {
                    position: absolute;
                    left: -32px;
                    top: 0;
                    height: 100%;
                    width: 1px;
                    background-color: colorOpacity(getColor(Black), 5);
                    content: ' ';
                }
            }
        }

        &.main {
            width: 100%;
            max-width: 350px;

            .thumb-wrapper {
                width: 100%;
                height: 120px;
                border-radius: 5px;
                overflow: hidden;
                margin-bottom: $size-2;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: top center;
                }
            }

            h5 {
                margin-bottom: $size-half;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

            p {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

            a {
                text-decoration: none;

                &:hover {
                    h5 {
                        text-decoration: underline;
                    }
                }
            }
        }

        &.mini-box {
            width: 100%;
            max-width: 320px;

            li {
                &:not(:last-child) {
                    margin-bottom: $size-1;
                }
            }

            .thumb-wrapper {
                width: 90px;
                height: 90px;
                border-radius: 5px;
                overflow: hidden;
                margin-right: $size-2;
                flex-shrink: 0;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: top center;
                }
            }

            p {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

            h5 {
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

            a {
                display: flex;

                &:hover {
                    text-decoration: none;

                    h5 {
                        text-decoration: underline;
                    }
                }
            }

            &.extended {
                max-width: 420px;
            }

            &.tinier-box {
                .thumb-wrapper {
                    width: 60px;
                    height: 60px;
                }

                p {
                    -webkit-line-clamp: 2;
                }

            }

            //FB-feed
            .cff-wrapper {
                #cff {
                    .cff-posts-wrap {
                        .cff-item {
                            padding-bottom: 8px;
                            .cff-meta-wrap {
                                .cff-view-comments-wrap {
                                    display: none;
                                }

                                .cff-post-links {
                                    display: flex;
                                    height: auto;
                                    width: 100%;
                                    justify-content: space-between;

                                    .cff-viewpost-facebook {
                                        height: 24px;
                                    }

                                    .cff-share-container {
                                        height: 24px;
                                        display: flex;
                                    }
                                }
                            }
                            .cff-text-wrapper{

                                .cff-author{
                                    margin: 0;
                                    display: none;
                                }
                                .cff-post-text{
                                    margin:0;

                                    // .cff-text{
                                    //     display: none;
                                    // }
                                }
                                }
                        }
                    }
                }
            }

        }

        &.holo-heading {
            ul {
                margin-top: $size-4;
            }
        }
    }

    ul {
        list-style: none;

        li {
            &:not(:last-child) {
                margin-bottom: 2px;
            }
        }

        a {
            color: getColor(Black);
        }
    }

    .more-cta a {
        display: inline-block;
        margin-top: $size-1;
        font-size: 9px;
        text-transform: uppercase;
        border-radius: 4px;
        padding: 0px $size-1;
        font-weight: 500;
        border: 1px solid rgb(97, 97, 97);
        opacity: 0.5;

        &:hover {
            opacity: 0.7;
            text-decoration: none;
        }
    }

    @include xxl {
        padding: $size-4;
        padding-left: 250px;
        padding-bottom: $size-6;
    }

    @include xl {
        top: 90px;
    }

    @include lg {
        top: 80px;
        padding: $size-4;
        padding-left: $size-3;
        padding-right: $size-3;
        padding-bottom: $size-5;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);

        .mega-menu-group {
            &:not(:first-child) {
                padding-left: $size-2;
                margin-left: $size-2;

                ul {
                    &::after {
                        left: -16px;
                        display: none;
                    }
                }
            }

            &.main {
                max-width: 300px;
            }

            &.mini-box {
                max-width: 220px;
            }
        }
    }

    @media screen and (max-width: 664px) {
        position: relative;
        top: 0;
        box-shadow: 0 1px 25px rgba(0, 0, 0, 0.08);
        border-top: 1px solid getColor(Silver);
        flex-wrap: wrap;

        .mega-menu-group {
            width: 100%;
            max-width: none !important;

            &:not(:last-child) {
                margin-bottom: $size-3;
            }

            &:not(:first-child) {
                padding-left: 0;
                margin-left: 0;
            }

            a {
                text-align: left;
            }

            &.main {
                max-width: none;
            }

            &.sbs-m {
                &-1 {
                    width: 50%;
                    padding-right: $size-1;
                }

                &-2 {
                    width: 50%;
                    padding-left: $size-1;
                }

                &-full {
                    width: 100%;
                }
            }
        }
    }
}